.body{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}